<style>
  :root {
    --cover-text-color: #224488;
    --cover-title-and-description-guard-bg-color: #f0f0ff;
    --highlight-color: #990088;
    --highlight: #f0f0ff;
    --section-dark-bg-color: #224488;
    --section-light-bg-color: #f0f0ff;
    --sticky-menu-text-color: #6688dd;

    #site-head a.btn,
    #site-head.withCenteredImage a.btn {
      font-weight: normal;
    }

    #site-head .blog-title,
    #site-head.withCenteredImage .blog-title {
      text-shadow: none;
    }

    #site-head-content,
    #header-arrow {
      padding: 0 0 400px 0;
    }

    .content {
      font-family: 'Open Sans', sans-serif;
    }
  }
</style>
